@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
html,
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:root {
  font-family: "Roboto", sans-serif;
  --violet-900: #4c1d95;
  --violet-800: #5b21b6;
  --violet-700: #6d28d9;
  --violet-600: #7c3aed;
  --violet-500: #8b5cf6;
  --violet-400: #a78bfa;
  --violet-300: #c4b5fd;
  --violet-200: #ddd6fe;
  --violet-100: #e1def0;
  --violet-50: #f5f3ff;
  --shadow: rgb(151, 151, 151);
  --main-content-size: 80%;
  background-color: var(--violet-200);
}

.header {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: minmax(150px, 15%);
  background-color: var(--violet-800);
  box-shadow: 2px 2px 4px var(--shadow);
}

.header-title {
  color: var(--violet-50);
  font-weight: bold;
  font-size: 34px;
  letter-spacing: 2px;
  padding: 30px;
}

#github {
  position: absolute;
  box-sizing: border-box;
  right: 50px;
  top: 25px;
}

#container {
  position: absolute;
  box-sizing: border-box;
  top: 15%;
  padding-top: 20px;
}

#library {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding-left: 20px;
}

#entry-form {
  display: none;
  box-sizing: border-box;
  padding: 10px;
}

.input-fields {
  line-height: 30px;
}

.input-field {
  color: var(--violet-500);
  background-color: var(--violet-100);
  margin: 5px;
  border-radius: 5px;
}

.input-field::placeholder {
  color: var(--violet-500);
}

.read-check {
  color: var(--violet-800);
}

.form-button {
  cursor: pointer;
  color: var(--violet-50);
  background-color: var(--violet-500);
  box-shadow: 2px 2px 4px var(--shadow);
  border-radius: 5px;
  width: 55px;
  height: 40px;
  margin-right: 5px;
  letter-spacing: 0.5px;
  font-size: 15px;
}

#go-back:hover {
  background-color: var(--violet-600);
}

#submit-book:hover {
  background-color: var(--violet-600);
}

.default-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

#open-form-button {
  cursor: pointer;
  color: var(--violet-50);
  background-color: var(--violet-500);
  box-shadow: 2px 2px 4px var(--shadow);
  border-radius: 5px;
  width: 125px;
  height: 75px;
  letter-spacing: 0.5px;
  font-size: 15px;
}

#open-form-button:hover {
  background-color: var(--violet-900);
}

.library-card {
  background-color: var(--violet-50);
  box-shadow: 2px 2px 4px var(--shadow);
  border-left: 8px solid var(--violet-400);
  border-radius: 5px;
  width: 250px;
  height: 200px;
  padding: 10px;
  line-height: 40px;
  white-space: nowrap;
  overflow: hidden;
}

.user-book-button {
  cursor: pointer;
  color: var(--violet-50);
  background-color: var(--violet-500);
  box-shadow: 2px 2px 4px var(--shadow);
  border-radius: 5px;
  width: 60px;
  height: 40px;
  margin-right: 5px;
  letter-spacing: 0.5px;
  font-size: 15px;
}

.card-content {
  letter-spacing: 0.5px;
}

@media only screen and (max-width: 1200px) {
  #library {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-left: 20px;
  }
}